body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #008cba;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

main p {
    font-size: 1.2em;
    line-height: 1.6;
}

main ol {
    margin: 20px 0;
    padding-left: 20px;
}

main ol li {
    font-size: 1.2em;
    margin: 5px 0;
}

main div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

main div img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 50%;
    padding: 10px;
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mensagem_confirmacao {
    text-align: center;
    margin: 10px;
    color: green;
}