
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}

.corpo {
    display: flex;
    width: 100%;
    height: 100vh;
}

.header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7159c1; 
}

.BoasVindas{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

.fundo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #120e0ee0; 
}
.titulo-cadastro{
    position: absolute;
    top: 12vh;
    font-size: 2rem;
    color: #fff;
}
.nome{
    position: absolute;
    top: 30vh;
    right: 70vh;
    color: #fff;
}
.campo-nome{
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 35vh;
    right: 32vh;
    width: 300px;
}
.email{
    position: absolute;
    top: 43vh;
    right: 70vh;
    color: #fff;
}
.campo-email{
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 48vh;
    right: 32vh;
    width: 300px;
}
.senha{
    position: absolute;
    top: 56vh;
    right: 70vh;
    color: #fff;
}
.campo-senha{
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 61vh;
    right: 32vh;
    width: 300px;
}   
.confirme{
    position: absolute;
    top: 69vh;
    right: 60vh;
    color: #fff;
}
.campo-confirme{
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 74vh;
    right: 32vh;
    width: 300px;
} 
.entre{
    position: absolute;
    top: 81vh;
    right: 54vh;
    color: #fff;
}
.anc{
    text-decoration: none;
}
.entre2{
    position: absolute;
    top: 81vh;
    right: 32vh;
    background-color: #7159c1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.anc2{
    text-decoration: none;
}